<%= stylesheet_link_tag "comment.css" %>

<div>
<%= comment.name %>
<div class="baloon z-depth-2"><%= comment.body %></div>
<div class="time"><%= time_ago_in_words(comment.created_at) %></div>
</div>
