#navbar{
  background-color: rgb(145, 22, 0);
}

#brand{
  font-family: 'Kaushan Script', cursive;
}

.post-title{
  margin-left: 10%;
  padding-top: 2%;
  font-size: 120%;
}

.post-space{
  width: 50%;
  height: 574px;
  float: left;
  background-color: white;
}

.post-image{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.left-space{
  width: 25%;
  height: 574px;
  background-color: #FC7753;
  float: left;
}

.right-space{
  width: 25%;
  height: 574px;
  float: left;
  background-color: #FC7753;
}
