<% provide(:page_title, 'All posts') %>
<%= stylesheet_link_tag "post-index.css" %>


<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" id="navbar">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> or
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> or
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

      <a href="#" class="brand-logo center" id="brand">Neat!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to new_post_path, :action => 'go' do %>
              <i class="large material-icons">add</i>
            <% end %></li>
        </ul>
    </div>
  </nav>
</div>


<div class="supercontain">
<% @posts.each do |post| %>
<div class="left-space">a</div>

<div class="post-space z-depth-4">

  <%= link_to post, :action => 'go' do %>
    <div class="post-container">
      <p class="post-title"><%= post.title %></p>
        <div class="post-image"><%= image_tag post.image.thumb.url %></div>
        <a class="btn-large waves-effect waves-light green">Great!</a>
        <a class="btn-large waves-effect waves-light red">Meh...</a>

        <%= link_to edit_post_path(post), :action => 'go' do %>
          <i class="material-icons">create</i>
        <% end %>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, :action => 'go' do %>
          <i class="material-icons">delete</i>
        <% end %>

    </div>
  <% end %>

</div>




<div class="right-space">
<%= render post.comments %>
</div>
<% end %>

</div>
