<% provide(:page_title, @post.title) %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.thumb.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<h2><%= @post.comments.count %>
  <%= render @post.comments %>
  <h3>Add comment: </h3>
  <%= render 'comments/form' %>

</h2>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
